__pycache__
tmp
cache
.DS_Store
*.txt
/mlx_models
Sylvain/MetamorPhone_AUDIO_ROUTER2 Project/Backup/*
Sylvain/OLD/*
Sylvain/MetamorPhone_AUDIO_ROUTER Project/*
tests/*
metamorphy-266a29b4942c.json
mprofile_20250224160656.dat
output.wav
